@using GreatBear.Demo.Application.Users.Dto
@model UserModel
@{
    ViewBag.Title = "登录";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/nprogress/nprogress.min.css" rel="stylesheet">
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, false,new { @class = "form-horizontal", role = "form" }))
                    {
                        <h1>登 录</h1>
                        <div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "用户名" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Log in</button>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    @using (Html.BeginForm("CreateUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <h1>注册账号</h1>
                        <div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "用户名" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Phone, new { @class = "form-control", placeholder = "手机" })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Email, new { @class = "form-control", placeholder = "邮箱" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">提 交</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</body>
</html>